@import "../../styles/constants.scss";

.sponsor-welcome {
  margin-top: 100px;
  margin-bottom: 175px;
  overflow: visible;
  @media (max-width: 1024px) {
    margin-bottom: 100px;
  }
}

.sponsor-topper {
  @include dark-green-bg;
}

.sponsor-perks {
  @include pale-blue-bg;
}

.sponsor-listing {
  @include yellow-green-bg;
}

.sponsor-vines {
  position: absolute;
  right: 0px;
  top: 0px;

  @media (max-width: $md) {
    display: none;
  }
}

.sponsors__pattern {
  position: absolute;
  width: 110%;
  min-width: $xl;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  z-index: 2;
  opacity: 0.1;
}

.sponsor-cta {
  @include large-body-text;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 0;
  text-align: left;
  color: $white;
}

.sponsor__cta {
  @include primary-cta;
}

.sponsor-title {
  @include h2-text($hbp-navy);
  text-align: left;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
}

.sponsor-subtitle {
  @include h4-text($hbp-navy);
  @include top-margin;
  text-align: left;
}

.faq-button-title {
  @include h4-text($hbp-navy);
  width: 50%;
  margin: auto;
}

.sponsor-kits-title {
  @include h3-text($hbp-navy);
  padding-bottom: 25px;
}

.subtitle {
  @include h4-text;
  font-weight: 600;
  padding-bottom: 25px;
}

.sponsor-section-header {
  @include h2-text($hbp-navy);
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 50px;
  @media (max-width: 1024px) {
    padding-top: 50px;
  }
}

.sponsor-button {
  @include large-body-text;
  background-color: $yellow-green;
  color: white;
  padding: 10px 40px;
  border-radius: 33px;
  border-style: none;
}

.sponsor-button-center {
  margin: 0 auto;
  display: block;
  width: 250px;
  text-align: center;
}

.sponsor-perk-cta {
  @include large-body-text($hbp-navy);
  padding-bottom: 50px;
}

.sponsor-level {
  padding-bottom: 50px;
}

.sponsor-level-row {
  @include large-body-text($white);
  padding-top: 25px;
  padding-bottom: 25px;
}

.sponsor-level-quote {
  color: $hbp-blue;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 15px;
}

.sponsor-level-credit {
  font-weight: bold;
  text-align: right;
}

.sponsor-level-description {
  color: $hbp-navy;
  @media (max-width: 1024px) {
    padding-bottom: 30px;
  }
}

.sponsor {
  margin-bottom: 40px;
}

.sponsors-section {
  padding-top: 100px;
  padding-bottom: 100px;
  @media (max-width: 1024px) {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }

  .sponsor-header {
    font-size: 35px;
    padding-top: 15px;
    line-height: 1.5;
  }

  .sponsor {
    align-content: center;
    transition-duration: 0.3s;
    overflow: hidden;

    margin-top: 20px;
    margin-bottom: 20px;
  }

  .sponsor:hover {
    @media (min-width: 992px) {
      transform: scale(1.02);
    }
  }

  .catalant-logo {
    width: 60%;
    @media (max-width: 992px) {
      width: 80%;
    }
  }

  .med-sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;

    @media (max-width: 992px) {
      text-align: center;
    }

    .md-sponsor-image-wide {
      width: 350px;
      height: auto;
      margin-top: 40px;
      @media (max-width: 992px) {
        width: 60%;
      }
    }

    .md-sponsor-image-tall {
      width: auto;
      height: 250px;
      @media (max-width: 992px) {
        height: auto;
        width: 60%;
      }
    }
  }

  .small-sponsors {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .sm-sponsor-image-wide {
      width: 250px;
      height: auto;
      @media (max-width: 992px) {
        width: 150px;
      }
    }

    .sm-sponsor-image-square {
      width: auto;
      height: 150px;
      @media (max-width: 992px) {
        height: 100px;
      }
    }
  }

  .in-kind-sponsors {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .in-kind-heading {
    line-height: 1.5;
  }

  .in-kind-sponsor-logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .in-kind-sponsor-image-wide {
      width: 250px;
      height: auto;
      @media (max-width: 992px) {
        width: 200px;
      }
    }

    .in-kind-sponsor-image-square {
      width: auto;
      height: 100px;
      @media (max-width: 992px) {
        height: 80px;
      }
    }
  }
}

// images
.sponsorship {
  .yellow-btn {
    margin-bottom: 30px;
  }

  .inspire-icon {
    height: 90px;
    .cls-1 {
      fill: #fbdd40;
    }
    .cls-2 {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 2px;
    }
  }

  .grow-icon {
    height: 90px;
    .cls-1 {
      fill: #70e0a3;
    }
    .cls-2 {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-miterlimit: 10;
      stroke-width: 1.89px;
    }
  }

  .recruit-icon {
    height: 90px;
    .cls-1 {
      fill: #25c9d0;
    }
    .cls-2 {
      fill: none;
      stroke: #fff;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
    }
  }

  @import "../../styles/image-style.scss";
}
